{% extends 'panel_randomizer_app/base.html' %} {% block content %}

<br>
<br>
{% for line in welcome_text %}
<p>{{line}}</p>
{% endfor %}

{% if error_message %}
<div class="col-md-8 alert alert-danger">
    <strong>{{ error_message }}</strong>
</div>
{% endif %}



<div class="row col-md-12">
    <form action="{% url 'participate' name %}" method="post">
        {% csrf_token %}

        <p>{{survey_id}}</p>

        <div class="col-md-8">
            <label for="student_number">Studentnummer: </label>
        </div>

        <div class="col-md-8">
            <input id="student_number" type="text" name="student_number" value="{{student_number}}" class="form-control">
        </div>

        <div class="col-md-2">
            <button id="submit" type="submit" value="" class="btn btn-primary pull-right" />Deelnemen
            <span class="fa fa-chevron-circle-right"></span>
            </button>
        </div>
    </form>
    </div>



    {% endblock %}